<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="advance-search-heading" >ADVANCE SEARCH</div>
      </mat-panel-title>
   
    </mat-expansion-panel-header>
    <div class="search-header">
      <div  class="close-button"><button type="button" class="btn-close" disabled
          aria-label="Close"></button></div>
    </div>
    <div class="scrollbar">
      <div class="row  p-3 col-md-12">
        <div class="col-md-6">
          <label for="exampleFormControlInput1" class="form-label uppercase">beds</label>
          <!-- <div>
            <select class="select-option">
              <option>3+</option>
            </select>
          </div> -->
          <div class="wrap-select-input">
            <img src="../../../assets/images/select-arrow.svg" alt="" class="selet-arrow">
            <select name="" class="form-control form-control-genrl">
              <option value="">2</option>
              <option value="">3</option>
            </select>
          </div>
          <label for="exampleFormControlInput1" class="form-label uppercase mt-2">rooms</label>
  
          <div>
            <div class="wrap-select-input">
              <img src="../../../assets/images/select-arrow.svg" alt="" class="selet-arrow">
              <select name="" class="form-control form-control-genrl">
                <option value="">any</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <label for="exampleFormControlInput1" class="form-label uppercase mt-2">home area</label>
          <div class="slider-styles-genrl">
            <!-- <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider> -->
          </div>
        </div>
        <div class="col-md-6">
          <!-- <label for="exampleFormControlInput1" class="form-label uppercase">baths</label> -->
  
          <div>
            <!-- <select class="select-option">
              <option>3+</option>
            </select> -->
            <div class="form-group">
              <label for="exampleFormControlInput1" class="form-label uppercase ">baths</label>
              <!-- <select class=" select-option" aria-label="Default select example">
                <option selected>3+</option>
                <option value="1">Dubai Marina</option>
                <option value="2">Palm Jumeirah</option>
                <option value="3">Business Bay</option>
              </select> -->
              <div class="wrap-select-input">
                <img src="../../../assets/images/select-arrow.svg" alt="" class="selet-arrow">
                <select name="" class="form-control form-control-genrl">
                  <option selected>3+</option>
                  <option value="1">Dubai Marina</option>
                  <option value="2">Palm Jumeirah</option>
                  <option value="3">Business Bay</option>
                </select>
              </div>
            </div>
          </div>
          <label for="exampleFormControlInput1" class="form-label uppercase mt-2">parking</label>
  
          <div>
            <div class="wrap-select-input">
              <img src="../../../assets/images/select-arrow.svg" alt="" class="selet-arrow">
              <select name="" class="form-control form-control-genrl">
                <option value="">any</option>
                <option value="">3</option>
              </select>
            </div>
          </div>
          <label for="exampleFormControlInput1" class="form-label uppercase mt-2">price</label>
          <div class="slider-styles-genrl">
            <!-- <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="optionprice"></ngx-slider> -->
          </div>
        </div>
        <label for="exampleFormControlInput1" class="form-label uppercase mt-2">amenities</label>
        <div class="row g-0 p-2 col-md-12 ">
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Air Conditioning
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Gym
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Swimming Pool
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Central A/C
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Shared Spa
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Pets Allowed
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Barbecue Area
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Central Heating
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Kids Play Area
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Retail
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Balcony
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                View of Landmark
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Built in Wardrobes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Children's Play Area
              </label>
            </div>
          </div>
          <div class="col-4">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Free Wifi
              </label>
            </div>
  
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Fitness Amenities
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Free Wifi
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Maids Room
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                View of Water
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Private Pool
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Children's Pool
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="m-4">
      <div class="btn btn-primary btn-search mt-2">SEARCH</div>
  
    </div> -->
    <div class="col-md-12 search-btn-main">
  <button class="btn btn-primary btn-search " >SEARCH</button>
    </div>  </mat-expansion-panel>

</mat-accordion>
