// @import "~@ng-select/ng-select/themes/default.theme.css";
.search-inner input, .search-inner select {
    border-bottom: 0px solid lightgray !important;
            border-radius: none;
    padding: 10px 0;
    box-shadow: 0 0 0 0;
    outline: 0;
    height: 10px;
}