<footer class="footer" style="position:relative;bottom: 0%;">
    <div class="container">
      <div class="row">
        <div class="footer-col col-sm-4 ">
          <!----------------Contact-us--------------->
          <h4><u>Contac</u>t Us</h4>
          <div>
            <ul>
              <li><a ><img src="../../../assets/images/map.svg" class="organzation">706, Icon Tower,
                  Barsha Heights, Dubai – UAE </a></li>
              <li><a ><img src="../../../assets/images/call.svg" class="organzation"> +97143999055</a></li>
              <li><a ><img src="../../../assets/images/email.svg" class="organzation"> info@blissest8.com </a>
              </li>
            </ul>
          </div>
        </div>
  
        <!------------Property Locations------------->
        <div class="footer-col col-sm-4">
          <h4><u>Proper</u>ty Locations </h4>
          <div class="fed">
            <ul>
              <li><a class="cursor" (click) ="propertySearch('Downtown Dubai')">Downtown Dubai</a></li>
              <li><a class="cursor" (click) ="propertySearch('Dubai Marina')">Dubai Marina</a></li>
              <li><a class="cursor" (click) ="propertySearch('Bluewaters Island')">Bluewaters Island</a></li>
              <li><a class="cursor" (click) ="propertySearch('Palm Jumeirah')">Palm Jumeirah</a></li>
              <li><a class="cursor" (click) ="propertySearch('Jumeirah Lakes Tower')">Jumeirah Lakes Tower</a></li>
              <li><a class="cursor" (click) ="propertySearch('Jumeirah Lakes Tower')">Dubai Land</a></li>
            </ul>
            <ul>
              <li><a class="cursor" (click) ="propertySearch('Emaar South')">Emaar South</a></li>
              <li><a class="cursor" (click) ="propertySearch('Dubai Hills Estate')">Dubai Hills Estate</a></li>
              <li><a class="cursor" (click) ="propertySearch('Serana')">Serana</a></li>
              <li><a class="cursor" (click) ="propertySearch('Arabian Ranches')">Arabian Ranches</a></li>
              <li><a class="cursor" (click) ="propertySearch('Reem')">Reem</a></li>
            </ul>
          </div>
        </div>
  
        <!-----------------Quick links------------------>
        <div class="footer-col col-sm">
          <h4><u>Quick</u> Links</h4>
          <ul>
            <li><a href="">About</a></li>
            <li><a href="/terms-and-conditions">Terms & Conditions</a></li>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
          </ul>
        </div>
  
        <!---------------Follow Us---------------------->
        <div class="footer-col col-sm">
          <h4><u>Follow</u> Us</h4>
          <div class="social-links">
            <a href="https://www.facebook.com/Blissest8" target="_blank"><img src="assets/images/social/fb.svg"></a>
            <a href="#"><img src="assets/images/social/twt.svg"></a>
            <a href="https://www.instagram.com/blissest8/" target="_blank"><img src="assets/images/social/insta.svg"></a>
            <a href="https://www.linkedin.com/in/bliss-real-estate-687506248/" target="_blank"><img src="assets/images/social/linkedin-img.svg"></a>
          </div>
        </div>
        <br>
  
        <!--------------Copy Right--------------------------->
        <hr class="copyright" />
  
        <div class="text-center col-sm-12" style=" color: white; ">
          © 2021 Copyright:@Bliss Estate.All Sites Resreved.
        </div>
      </div>
    </div>
  </footer>