/* ======================= BLOGS STYLSES START ======================= */
.wrapper-blogs {
    margin: 50px 0;
    
}

.blogs-heading {
    font-family: 'avenirRegular';
}

.link-view-all-blogs {
    color: var(--primary-color);
    text-decoration: none;
}
.link-view-all-blogs:hover {
    color: var(--primary-color);
    text-decoration: underline;
}
.link-view-all-blogs img {
    width: 20px;
    margin-left: 8px;
}
.wrap-blog-item {
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid #6d778733;
    background: white;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.wrap-blog-item:hover .img-blog {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}
.wrap-blog-img {
    height: 150px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.img-blog {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}
.blog-date {
    margin-bottom: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #6D7787;
    opacity: 1;
    font-size: 12px;
    font-family: avenirRegular;
}

.blog-title {
    color: #000;
    text-align: left;
    font: normal 900 6px/15px avenirRegular;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.blog-category {
    background: #F0F1F2 0% 0% no-repeat padding-box;
    padding: 5px 15px;
    border-radius: 100px;
    display: inline-block;
    text-align: center;
    font: normal normal medium 7px/10px avenirRegular !important;
    letter-spacing: 0px;
    opacity: 1;
    font-size: 12px;
    color: #6D7787;
}

.blog-small-desc {
    text-align: left;
    font: normal normal medium 9px/12px 'avenirRegular' !important;
    letter-spacing: 0px;
    color: #0A293B;
    opacity: 1;
}

.link-continue-reading {
    color: var(--primary-color);
    text-decoration: none;
    margin-top: 30px;
    display: block;
    
}

.link-continue-reading:hover {
    color: var(--primary-color);
    text-decoration: underline;
}

.link-continue-reading img {
    width: 20px;
    margin-left: 8px;
}

.wrap-blog-summary {
    padding: 15px;
    
}



/* ======================= BLOGS STYLSES END ======================= */
@media (max-width: 767px) {
    .wrapper-search {
        width: 100%;
        position: absolute;
        top: 20rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
        max-width: 1320px;
        border-radius: 20px;
    }
    .achievements-reponsive{
        display:none;
        }
        .achievements-reponsive-small{
            display: flex;
        }
    .search-inner {
        height: 100%;
    }

    .search-inner .nav-pills {
        justify-content: center;
    }

    .search-inner .nav-pills .nav-item {
        margin-top: -80px;
    }

    .search-inner .nav-pills .nav-item .nav-link.active {
        background: white;
        color: var(--secondry-color);
        font-size: 16px;
        padding: 8px 30px;
        font-weight: bold;
    }

    .search-inner .nav-pills .nav-item .nav-link {
        color: white;
        font-size: 16px;
        padding: 8px 30px;
        font-weight: bold;
        position: relative;
    }

    .search-inner .nav-pills .nav-item .nav-link.active::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        border-color: transparent;
        border-width: 9px;
        border-style: solid;
        border-color: white transparent transparent;
    }

    .btn-search {
        width: 100%;
        height: 2.1rem !important;
        font-size: 0.7rem;
    }

    .search-icon {
        height: 0.6rem;
        width: 0.6rem;
    }

    .wrap-item-wcu {
        margin: 1rem;
    }

    .wrapper-wcu {
        background: #F0F1F2;
        padding: 20px 0;
    }

    .wrap-agent-item {
        margin-top: 0.8rem;
    }

    .location-box-small {
        width: 100%;
    }

    .location-box-big {
        width: 100%;
    }
    .wrapper-filte-responsive {
        margin-top: 1rem !important;
        justify-content: center !important;
        cursor: pointer;
    }
    .btn-primary {
        font-size: 0.6rem;
    }
    .wrap-blog-item {
        margin-top: 1rem;
    }
    .agent-responsive{
        display: flex;
    }
    .agent-reponsive-large{
        display: none   ;
    }
}