
<!----------------Image with title------------------>
<section class="wrapper-cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrapper-heading">
                    <h3 class="text-center uppercase">TERMS AND CONDITIONS</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Terms and Conditions</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-----------------------descrption------------------------->
<div class="text">
    <p>
        This website is the property of Bliss Estate - Office 706, Icon Tower, Barsha Heights, Dubai – UAE. By using
        this website you agree that you consent to and are bound by the following terms and conditions.
    </p>
    <h3>Governing Law</h3>
    <p>
        The terms and conditions and contents of this website shall be governed by and interpreted in accordance with
        the laws of Dubai, United Arab Emirates. Both the user and Bliss Estate agree that the Dubai courts shall have
        exclusive jurisdiction to adjudicate any dispute which may arise as a result of the use of this website. By
        accessing and using this website you are agreeing to the terms and conditions laid out below. Governing Law and
        Jurisdiction By accessing this Website and obtaining the information, facilities, products or services offered
        through this website, you agree that the Law of the United Arab Emirates (UAE) shall govern such access and the
        provision of such information, facilities, products and services and you agree to submit to the exclusive
        jurisdiction of the UAE Courts.
    </p>
    <h3>Copyright and trademarks</h3>
    <p>
        All content and design on this website is protected by copyright, trademarks and other intellectual property
        rights and is the property of ©Bliss Estate or issued under license from third party copyright owners. You may
        print or download such material in electronic form on your local hard drive for your personal and non-commercial
        use. You may not alter or otherwise make any changes to any material that you print or download. This includes,
        without limitation, removing any copyright or proprietary notices. All other uses are prohibited, including,
        without limitation, distributing, reproducing, modifying, copying or using material or content from this site
        for commercial purposes. The license to copy does not permit incorporation of the content or any part of the
        website in any other work or publication in any form whatsoever.
    </p>
    <h3>Disclaimer</h3>
    <p>
        Bliss Estate takes all reasonable care to ensure that the information contained on this website is accurate,
        however, we cannot guarantee its accuracy and we reserve the right to change the information on this website
        (including these terms and conditions) at any time. You must, therefore, check these terms and conditions for
        any such changes each time you visit this website. Bliss Estate makes no representations or warranties of any
        kind with respect to this website or the content contained on it, including any text, graphics, advertisements,
        links or other items. Furthermore, neither Bliss Estate nor any other contributor to this website make any
        representation or gives any warranty, condition, undertaking or term either expressed or implied as to the
        condition, quality, performance, accuracy, fitness for purpose, completeness or freedom from viruses of the
        content contained on this website or that such content will be accurate, up to date, uninterrupted or
        error-free. Nothing on this website shall be regarded or taken as financial advice.
    </p>
    <h3>Online Payment Terms & Conditions</h3>
    <p>
        By accessing or using Bliss Estate’s online payment options you are agreeing to be bound by all of the terms and
        conditions contained herein. Bliss Estate may modify this document at any time, and you agree that such
        modifications will be effective immediately upon posting of the modified document. You agree that by using the
        Bliss Estate website, after any such modifications, you will be deemed to have reviewed, agreed to and accepted
        the modified document.
        <br>
        <br>
        When you follow a link to any other website, even the site of another governmental agency, you are subject to
        the terms and conditions and privacy policy of that specific site. Bliss Estate is not responsible for the
        practices or content of other websites. You should check the terms and conditions and/or the privacy policy of
        their sites if you have concerns about how they handle your personal identifiable information.
        <br>
        <br>
        Bliss Estate’s online payment service is provided to you to allow you to make electronic payments through the
        web and/or access account information. The online payment service may send information about your Bliss Estate
        account directly to your email account or via mail. This email may include a digital copy of your account
        record.
        <br>
        <br>
        It is Bliss Estate’s sole and absolute discretion, Bliss Estate may, without notice, restrict or terminate any
        person’s use of the online payment service and any related service, user accounts, usernames or passwords
        <br>
        <br>
        Bliss Estate agree to make every reasonable effort to ensure full performance of the online payment service and
        to resolve disputes that may arise in a timely manner. Bliss Estate cannot assume responsibility for
        malfunctions in public communications facilities not under its control that may affect the accuracy or
        timeliness of email messages you receive
        <br>
        <br>
        Any information sent by Bliss Estate to you via email is believed to be reliable. However, this information can
        only be provided on a best-efforts basis for your convenience and is not guaranteed. Bliss Estate will not be
        liable for any deficiencies in the accuracy, completeness, availability or timeliness of such information or for
        any decision made using this information.
        <br>
        <br>
        The online payment website has security measures in place to protect against the loss, misuse, or alteration of
        the information you provide including your credit card information. The Bliss Estate online payment conforms to
        industry standard security which is among the best software available for securing commerce transactions.
        <br>
        <br>
        Your information is collected and stored by the Bliss Estate vendor and is used only for applying your payments
        and displaying your statements online. Bliss Estate will store and maintain personal information submitted by
        you to establish online payment service other than credit card information.
        <br>
        <br>
        You agree that you will not intentionally provide false information when accessing or using the Bliss Estate
        online payment service. You also agree that you will not falsify, forge, or otherwise tamper with any
        information in the emails you receive as part of the online payment service.
        <br>
        <br>
        In order to ensure your full legal rights and security while paying online for your services please avoid paying
        for your services through a third person/party or by using a credit card in the name of someone other than
        yourself
        <br>
        <br>
        In case of dispute by the original card owner, the person/party or company benefiting from such payment for the
        service will be legally liable to imprisonment and fined as per to clauses 10 & 11 of UAE Federal Law No. (2) Of
        2006 on “The Combat of Information Technology Crimes”
        <br>
        <br>
        Bliss Estate make no warranties other than those expressly set forth herein. Bliss Estate will not be liable for
        any damages of any kind arising from the use of this site, including, but not limited to, direct, indirect,
        incidental, consequential and punitive damages. Further, you are solely responsible for any damage to your
        computer system or loss of data that may result from the downloading of any material. No advice or information,
        whether oral or written, obtained by you from or through Bliss Estate’s online payment service will create any
        warranty not expressly stated in these terms and conditions. You expressly agree that your use of this site is
        at your sole risk.
        <br>
        <br>
        You agree to defend, indemnify and hold harmless Bliss Estate and its officers, officials, directors, employees,
        agents, successors or assigns from any and all claims, liabilities, costs, and expenses (including reasonable
        attorneys’ and experts’ fees) arising in any way from your use of the online payment website and service or the
        placement or transmission of any message, information, software or other materials or content on or through the
        online payment website by you or users of your user account or related to any violation of these Terms and
        Conditions by you or users of your account.
        <br>
        <br>
        In addition, please take note of the following guidelines, which will assist you in detecting certain types of
        internet and email fraud (i.e. “phishing”). Bliss Estate will never send you an email requesting you to validate
        personal information. Bliss Estate will never ask you to update your social security number, date of birth or
        driver license number via email.
    </p>

    <h3>Refund Policy</h3>
    <p>
        Bliss Estate takes all reasonable care to ensure that the information contained on this website is accurate,
        however, we cannot guarantee its accuracy and we reserve the right to change the information on this website
        (including these terms and conditions) at any time. You must, therefore, check these terms and conditions for
        any such changes each time you visit this website. Bliss Estate makes no representations or warranties of any
        kind with respect to this website or the content contained on it, including any text, graphics, advertisements,
        links or other items. Furthermore, neither Bliss Estate nor any other contributor to this website make any
        representation or gives any warranty, condition, undertaking or term either expressed or implied as to the
        condition, quality, performance, accuracy, fitness for purpose, completeness or freedom from viruses of the
        content contained on this website or that such content will be accurate, up to date, uninterrupted or
        error-free. Nothing on this website shall be regarded or taken as financial advice.
    </p>
</div>