<!-- *************************************************** FEATURES SECTION START *************************************************** -->
<div class="wrapper-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <swiper [slidesPerView]="2" [config]="config" [navigation]="{ nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev'}">
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <div class="wrapper-feature-thumb">
                                            <img src="assets/images/most-viewed-sale.png" alt="" class="thumb-feature">
                                        </div>
                                        <div class="wrapper-feature-content">
                                            <h5 class="feature-title">Most Viewed Sale</h5>
                                            <p class="feature-small-desc">View all the properties which are mostly
                                                viewed in sales category
                                                within last month.</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <div class="wrapper-feature-thumb">
                                            <img src="assets/images/most-viewed-rent.png" alt="" class="thumb-feature">
                                        </div>
                                        <div class="wrapper-feature-content">
                                            <h5 class="feature-title">Most Viewed Rent</h5>
                                            <p class="feature-small-desc">View all the properties which are mostly
                                                viewed in rent category
                                                within last month.</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <div class="wrapper-feature-thumb">
                                            <img src="assets/images/most-viewed-sale.png" alt="" class="thumb-feature">
                                        </div>
                                        <div class="wrapper-feature-content">
                                            <h5 class="feature-title">Most Viewed Sale</h5>
                                            <p class="feature-small-desc">View all the properties which are mostly
                                                viewed in sales category
                                                within last month.</p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <div class="wrapper-feature-thumb">
                                            <img src="assets/images/best-plan.png" alt="" class="thumb-feature">
                                        </div>
                                        <div class="wrapper-feature-content">
                                            <h5 class="feature-title">Best Payment Plan</h5>
                                            <p class="feature-small-desc">View all the properties which are having the
                                                best payment plans.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <div class="wrapper-feature-thumb">
                                            <img src="assets/images/best-plan.png" alt="" class="thumb-feature">
                                        </div>
                                        <div class="wrapper-feature-content">
                                            <h5 class="feature-title">Best Payment Plan</h5>
                                            <p class="feature-small-desc">View all the properties which are having the
                                                best payment plans.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                </div>
                            </ng-template>
                        </swiper>
                    </div>
                    <div class="swiper-button-next">
                        <img src="assets/images/arrow-next.svg" alt="">
                    </div>
                    <div class="swiper-button-prev">
                        <img src="assets/images/arrow-prev.svg" alt="">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- *************************************************** FEATURES SECTION END *************************************************** -->