

<!---------------------Iamge with Title---------------------------->
<div class="policy">
    <h1>PRIVACY AND POLICY</h1>
    <h4>Home / Privacy and Policy</h4>
</div>

<!---------------------descrption or guidlines--------------------->
<div class="text">
    <p>
        This website is the property of Bliss Estate - Office 706, Icon Tower, Barsha Heights, Dubai – UAE. By using
        this website you agree that you consent to and are bound by the following terms and conditions.
        In order to provide you with the full range of Bliss Estate services, we are sometimes required to collect
        information about you.
        Bliss Estate is committed to safeguarding your personal information.
        Whenever you provide such information, we are legally obliged to use your information in line with all laws
        concerning the
        protection of personal data. The Bliss Estate website contains hyperlinks to websites owned and operated by
        third parties.
        These third-party websites have their own privacy policies, including cookies, and we urge you to review them
        before using.
        Third-party websites will govern the use of personal information you submit or that is collected by cookies
        whilst
        visiting these websites. Bliss Estate do not accept any responsibility or
        liability for the privacy practices of such third-party websites and your use of such websites is at your own
        risk.
    </p>

    <h3>What information will Bliss Estate collect about me?</h3>
    <p>When you sign up to receive a service from any Bliss Estate website including but not limited to;
        Mortgages, rentals, sales, sales progression, property management, commercial property and competitions -
        we may ask for personal information about you. The personal information can consist of information such as your
        name,
        email address, postal address, telephone or mobile number or date of birth.
        Different web pages may ask for different personal information.
        By entering your details in the fields requested, you enable Bliss Estate and its service providers to provide
        you with
        the services you select. Please note that sometimes on the web pages we will require you to provide additional
        personal
        information, and at times this may be sensitive information. When we ask for this information, we will specify
        further on
        these web pages why we are collecting your information and how we will use it. Bliss Estate also uses cookies
        and collects IP
        addresses (an IP address is a number that can uniquely identify a specific computer or other network devices on
        the internet).
        We use analysis software to look at IP addresses and cookies for the purpose of enhancing your user experience.
        This information is not used to develop a personal profile of you and the log files are regularly purged.</p>

    <h3>When will Bliss Estate contact me?</h3>
    <p>Bliss Estate may contact you:</p>
    <ul>
        <li>In relation to the functioning of any service, you have signed up for in order to ensure that Bliss Estate
            can deliver the best service to you.</li>
        <li> To invite you to participate in surveys about Bliss Estate services (participation is always voluntary) For
            marketing purposes which you have specifically agreed to.</li>
        <li> Local pages will give you detailed information about how Bliss Estate will contact you in relation to
            specific services.</li>
    </ul>

    <h3>Will Bliss Estate share my personal information with anyone else?</h3>
    <p>Bliss Estate will keep your information confidential except where disclosure
        is required or permitted by law (for example to government bodies and law enforcement agencies).
        We will only use your information within Bliss Estate, however, Bliss Estate may use a third-party to
        process your information.
        Bliss Estate require any third-party to comply strictly with its instructions and Bliss Estate will
        require that they do not use
        any personal information for their own business purposes.
    </p>

    <h3>How long will Bliss Estate keep my personal information?</h3>
    <p>
        Bliss Estate will hold your personal information on our systems for as long as is
        necessary for the relevant service, or relevant contract you hold with Bliss Estate corporate retention
        schedule (this is a database that defines which documents should be kept and for how long). When you
        contribute your information to the Bliss Estate website we will generally only keep this for as long as is
        reasonably
        required for the purpose for which it was submitted.
    </p>

    <h3>Changes to Bliss Estate</h3>
    <p>This privacy policy may be updated from time to time so you may wish to check it each time you submit personal
        information to Bliss Estate website.
        The date of the most recent revisions will appear on this page.
    </p>

    <h3>How does Bliss Estate use cookies?</h3>
    <p>
        Information supplied by cookies can help Bliss Estate to analyse the profile of our visitors and help us
        to provide the user with a better experience. For example - if on a previous visit you went to our education
        pages, we might find this out from your cookie and highlight educational information on your second and
        subsequent visits.
        Bliss Estate use a number of independent measurement and research companies who gather
        information regarding the visitors to Bliss Estate sites on our behalf using cookies,
        log file data and code which is embedded on our website. Bliss Estate use this information to help
        improve the services we provide to our users. Bliss Estate strictly require that third parties do not use any
        information for their own business or other purposes. Bliss Estate website may use cookies for a specific reason
        -
        for example, to help a specific website section work effectively on your device. If this is the case, the local
        terms
        for that area of the website will make this clear and you should refer to those local terms
        for additional information.
    </p>
</div>