.wrapper-search{
    z-index: 5 !important;
}
.mat-form-field-flex.ng-tns-c90-20  {
    height: 50px !important;
    overflow-y: auto !important;
}
.clear-button {
    background: var(--secondry-color) !important;
    color: white;
  }

