<section class="wrapper-wcu">
  
    <div class="container">
      <div class="wrapper-heading">
        <h5 class="text-center ">Why Choose Us</h5>
        <p class="text-center choose-details">Bliss Real Estate is founded by industry professionals with a vision of providing better solution that focuses on usage of the most innovative, technology and fully equipped with Proptech applications and tools to serve Sellers, Buyers, Landlords and Tenants in the Dubai market.</p>
      </div>
      <div class="row mt-4" >
        <div class="col-md-4 d-flex " (click)="movePageproperty()">
          <div class="wrap-item-wcu">
            <img src="assets/images/property-management.svg" alt="">
            <h6 class="title-wcu">Property Management</h6>
            <p class="small-desc-wcu">Our Property Managers will ensure your vast property portfolio is managed to the highest standard so you can have a peace of mind from time consuming day to day issues and find the Property Management service extremely beneficial.</p>
       
          </div>
        </div>
  
        <div class="col-md-4 d-flex "  (click)="movePageouragent()">
          
          <div class="wrap-item-wcu">
            
            <img src="assets/images/experienced-agents.svg" alt="" >
            <div class="row" style="margin-right: 1000px;"></div>
            <h6 class="title-wcu">Experienced Agents</h6>
            <p class="small-desc-wcu">Our agents provide a value-added <br> service to clients to ensure a smooth,<br> hassle-free experience throughout <br> the property transfer stage.

            </p>
         
          </div>
        </div>
  
        <div class="col-md-4 d-flex " (click)="movePagemortage()">
          <div class="wrap-item-wcu">
            <img src="assets/images/mortgage-calc.svg" alt="" >
            <h6 class="title-wcu">Mortgage Calculator</h6>
            <p class="small-desc-wcu">Use our Mortgage calculator to estimate  your Monthly mortgage payments,<br> learn what kind of documentation is required,interest rates to expect in UAE,Valuation and avail financing in UAE subject to individual client profiling.</p>
          </div>
        </div>
      </div>
    </div>
  </section>