<div class="wrapper-related-properties">

    <div class="">
        <div class="row">
            <div class="col-md-12">
               <h1 class="title-related-properties">
                Related Properties
               </h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="swiper swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-button-prev1">
                            <img src="assets/images/arrow-prev.svg" alt="">
                        </div>
                        <swiper [config]="config" [navigation]="{ nextEl: '.swiper-button-next1', 
                        prevEl: '.swiper-button-prev1'}" [pagination]="{ clickable: true }">
                            <div class="swiper-button-next1">
                                <img src="assets/images/arrow-next.svg" alt="">
                            </div>
                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <a href="" class="link-property">
                                            <div class="wrapper-thumb-featured-prop">
                                                <img src="assets/images/most-viewed-sale.png" alt=""
                                                    class="thumb-featured-prop">
                                                <div class="label-featured">Featured</div>
                                            </div>
                                            <div class="wrapper-content-featured-prop">
                                                <h5 class="prop-title">JBR at Jumeirah Beach Residences</h5>
                                                <p class="prop-location">Downtown, Dubai UAE</p>

                                                <div class="row text-center">
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/beds.svg">
                                                        <p class="title-summary">Bed</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/bath.svg">
                                                        <p class="title-summary">Baths</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/garage.svg">
                                                        <p class="title-summary">Garage</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/area.svg">
                                                        <p class="title-summary">1018 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <hr class="property-card-divider">
                                        <div class="wrapper-property-prices">
                                            <div>
                                                <h4 class="prop-price">AED 1,900,000</h4>
                                            </div>
                                            <div>
                                                <a href=""><img src="assets/images/wishlist.svg" alt="" ><Button id="btnh1"
                                                        class="img-fluid img-wishlist"></Button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>


                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <a href="" class="link-property">
                                            <div class="wrapper-thumb-featured-prop">
                                                <img src="assets/images/most-viewed-sale.png" alt=""
                                                    class="thumb-featured-prop">
                                                <div class="label-featured">Featured</div>
                                            </div>
                                            <div class="wrapper-content-featured-prop">
                                                <h5 class="prop-title">JBR at Jumeirah Beach Residences</h5>
                                                <p class="prop-location">Downtown, Dubai UAE</p>

                                                <div class="row text-center">
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/beds.svg">
                                                        <p class="title-summary">Bed</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/bath.svg">
                                                        <p class="title-summary">Baths</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/garage.svg">
                                                        <p class="title-summary">Garage</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/area.svg">
                                                        <p class="title-summary">1018 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <hr class="property-card-divider">
                                        <div class="wrapper-property-prices">
                                            <div>
                                                <h4 class="prop-price">AED 1,900,000</h4>
                                            </div>
                                            <div>
                                                <a href=""><img src="assets/images/wishlist.svg" alt=""
                                                        class="img-fluid img-wishlist"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>

                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <a href="" class="link-property">
                                            <div class="wrapper-thumb-featured-prop">
                                                <img src="assets/images/most-viewed-sale.png" alt=""
                                                    class="thumb-featured-prop">
                                                <div class="label-featured">Featured</div>
                                            </div>
                                            <div class="wrapper-content-featured-prop">
                                                <h5 class="prop-title">JBR at Jumeirah Beach Residences</h5>
                                                <p class="prop-location">Downtown, Dubai UAE</p>

                                                <div class="row text-center">
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/beds.svg">
                                                        <p class="title-summary">Bed</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/bath.svg">
                                                        <p class="title-summary">Baths</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/garage.svg">
                                                        <p class="title-summary">Garage</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/area.svg">
                                                        <p class="title-summary">1018 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <hr class="property-card-divider">
                                        <div class="wrapper-property-prices">
                                            <div>
                                                <h4 class="prop-price">AED 1,900,000</h4>
                                            </div>
                                            <div>
                                                <a href=""><img src="assets/images/wishlist.svg" alt=""
                                                        class="img-fluid img-wishlist"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>

                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <a href="" class="link-property">
                                            <div class="wrapper-thumb-featured-prop">
                                                <img src="assets/images/most-viewed-sale.png" alt=""
                                                    class="thumb-featured-prop">
                                                <div class="label-featured">Featured</div>
                                            </div>
                                            <div class="wrapper-content-featured-prop">
                                                <h5 class="prop-title">JBR at Jumeirah Beach Residences</h5>
                                                <p class="prop-location">Downtown, Dubai UAE</p>

                                                <div class="row text-center">
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/beds.svg">
                                                        <p class="title-summary">Bed</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/bath.svg">
                                                        <p class="title-summary">Baths</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/garage.svg">
                                                        <p class="title-summary">Garage</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/area.svg">
                                                        <p class="title-summary">1018 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <hr class="property-card-divider">
                                        <div class="wrapper-property-prices">
                                            <div>
                                                <h4 class="prop-price">AED 1,900,000</h4>
                                            </div>
                                            <div>
                                                <a href=""><img src="assets/images/wishlist.svg" alt=""
                                                        class="img-fluid img-wishlist"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>

                            <ng-template swiperSlide>
                                <div class="swiper-slide" data-aos="">
                                    <div class="swiper-slide-inner">
                                        <a href="" class="link-property">
                                            <div class="wrapper-thumb-featured-prop">
                                                <img src="assets/images/most-viewed-sale.png" alt=""
                                                    class="thumb-featured-prop">
                                                <div class="label-featured">Featured</div>
                                            </div>
                                            <div class="wrapper-content-featured-prop">
                                                <h5 class="prop-title">JBR at Jumeirah Beach Residences</h5>
                                                <p class="prop-location">Downtown, Dubai UAE</p>

                                                <div class="row text-center">
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/beds.svg">
                                                        <p class="title-summary">Bed</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/bath.svg">
                                                        <p class="title-summary">Baths</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/garage.svg">
                                                        <p class="title-summary">Garage</p>
                                                    </div>
                                                    <div class="col-3"><img alt="" class="img-fluid icon-summary"
                                                            src="../../assets/images/area.svg">
                                                        <p class="title-summary">1018 Sqft</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <hr class="property-card-divider">
                                        <div class="wrapper-property-prices">
                                            <div>
                                                <h4 class="prop-price">AED 1,900,000</h4>
                                            </div>
                                            <div>
                                                <a href=""><img src="assets/images/wishlist.svg" alt=""
                                                        class="img-fluid img-wishlist"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </ng-template>

                            

                            

                        </swiper>
                        <div class="swiper-button-next1">
                            <img src="assets/images/arrow-next.svg" alt="">
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>