.explore-details {
    text-align: center;
    font: normal normal medium 2px/22px Avenir;
    letter-spacing: 0px;
    color: #6D7787;
    opacity: 1;
}

.wrapper-locations {
    margin: 50px 0;
}

.wrapper-heading {
    text-align: center;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.wrapper-location-item {
    position: relative;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.wrapper-location-item:hover .img-location {
    transform: scale(1.2);
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.img-location {
    height: 180px;
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

.img-location-big {
    height: 380px;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, transparent, rgba(10, 33, 60, 0.6));
}

.wrap-location-content {
    position: absolute;
    bottom: 20px;
    display: block;
    text-align: center;
    left: 0;
    right: 0;
    color: white;
    font-family: avenirRegular;
}

.wrap-location-content h4 {
    font-family: avenirRegular;

}

.wrap-location-content h6 {
    font-family: avenirRegular;

}

.property-title {
    font-weight: bold;
    margin-bottom: 0;
    text-shadow: 0 0 2px #000;
    font-size: 20px;
}

.property-count {
    font-weight: bold;
    text-shadow: 0 0 2px #000;
}

.wrap-location-boxes {
    display: flex;
    flex-wrap: wrap;
}

.location-box-small {
    flex: 0 0 auto;
    width: 20%;
    padding: 10px;

}

.location-box-big {
    flex: 0 0 auto;
    width: 40%;
    padding: 10px;
}

.location-content-big-card {
    bottom: 50px;
}
@media (max-width: 767px) {
    .wrapper-search {
        width: 100%;
        position: absolute;
        top: 20rem;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 100;
        max-width: 1320px;
        border-radius: 20px;
    }
    .achievements-reponsive{
        display:none;
        }
        .achievements-reponsive-small{
            display: flex;
        }
   

    .search-inner {
        height: 100%;
    }

    .search-inner .nav-pills {
        justify-content: center;
    }

    .search-inner .nav-pills .nav-item {
        margin-top: -80px;
    }

    .search-inner .nav-pills .nav-item .nav-link.active {
        background: white;
        color: var(--secondry-color);
        font-size: 16px;
        padding: 8px 30px;
        font-weight: bold;
    }

    .search-inner .nav-pills .nav-item .nav-link {
        color: white;
        font-size: 16px;
        padding: 8px 30px;
        font-weight: bold;
        position: relative;
    }

    
    .btn-search {
        width: 100%;
        height: 2.1rem !important;
        font-size: 0.7rem;
    }

    .search-icon {
        height: 0.6rem;
        width: 0.6rem;
    }

    .wrap-item-wcu {
        margin: 1rem;
    }

    .wrapper-wcu {
        background: #F0F1F2;
        padding: 20px 0;
    }

    .wrap-agent-item {
        margin-top: 0.8rem;
    }

    .location-box-small {
        width: 100%;
    }

    .location-box-big {
        width: 100%;
    }


    .wrapper-filte-responsive {
        margin-top: 1rem !important;
        justify-content: center !important;
        cursor: pointer;
    }

    .btn-primary {
        font-size: 0.6rem;
    }

    .wrap-blog-item {
        margin-top: 1rem;
    }
    .agent-responsive{
        display: flex;
    }
    .agent-reponsive-large{
        display: none   ;
    }
}
